<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pdf-style.css" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <title></title>
  </head>
  <body>
    <div class="container bg-success p-2">
      <img src="images/logo.png" alt="">
      <div class="row d-flex justify-content-around my-2">
        <div>
          <p>905 Region: 905 850 8955</p>
          <p>416 Region: 416 450 1157</p>
          <p>Toll Free: 1-855-SEALED-0</p>
          <p>[e-mail]: <a href="#">Service@MasterSealer.com</a></p>
          <p>Online: <a href="www.Master.Sealer.com">www.MasterSealer.com</a></p>
        </div>
        <div>
          <p><%= company %> </p>
          <p><%= name %> </p>
          <p><%= address %> </p>
          <p><%= city %> </p>
          <p><%= postal_code %> </p>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ESTIMATOR</th>
            <th>QUOTATION #</th>
            <th>PAYMENT STRUCTURE</th>
            <th>QUOTATION DATE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= estimator%> </td>
            <td><%= quotation%></td>
            <td><%= payment_structure%></td>
            <td><%= quotation_date%></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>QTY</th>
            <th>DESCRIPTION OF SERVICES #</th>
            <th>AREA</th>
            <th style="width: 80px;">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="description"><%= desc1%></td>
            <td><%= area1%></td>
            <td><%= price1%></td>
          </tr>
          <tr>
            <td></td>
            <td class="description"><%= desc2%></td>
            <td><%= area2%></td>
            <td><%= price2%></td>
          </tr>
          <tr>
            <td></td>
            <td class="description"><%= desc3%></td>
            <td><%= area3%></td>
            <td><%= price3%></td>
          </tr>
        </tbody>
      </table>
      <div class="total-quote">
        <div>
          <label>SubTotal&nbsp;</label>
          <div class="total"><%= subtotal %>&nbsp;</div>
        </div>
        <div>
          <label>HST&nbsp;</label>
          <div class="total"><%= hst %>&nbsp;</div>
        </div>
        <div>
          <label>TOTAL&nbsp;</label>
          <div class="total"><%= total %>&nbsp;</div>
        </div>
      </div>
      <div class="clearfix">
    </div>
  </body>
</html>